# data-database-types-non-relational-NoSQL-MongoDB-JSON-BSON-document-method-update
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- method - update - modifies - relational_rows-records-tuples - mongodb_documents - in a - relational_table-entity-relation - mongodb_collection - parameter - query - selection criteria to be updated - parameter - update - modification to be applied - optional parameter - options - can be used to change the way the - method - update - works [7]

```json
update(query,update,options)
```

```json
> show databases;
admin    0.000GB
config   0.000GB
demo1    0.000GB
local    0.000GB
mdb      0.000GB
myNewDB  0.000GB
```

```json
> use mdb;
switched to db mdb
```

```json
> db;
mdb
```

```json
> show collections;
mydoc
user
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37 }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

- update - relational_rows-records-tuples - mongodb_documents - name - name - value - Tom - name - name - value - Mary - to both have an address - relational_column-attribute-field - mongodb_attribute - name - address - value - Galway - first parameter - query - find all - relational_rows-records-tuples - mongodb_documents - name - name - value - Tom - name - name - value - Mary [7]

```json
{$or:[{"name":"Tom"},{"name":"Mary}]}
```

- second parameter - update - modification to be applied [7]

```json
{"address":"Galway"}
```

- optional parameter - can change default behaviour of - method - update - option - multi - by default - is set to false - only first - relational_row-record-tuple - mongodb_document - updated [7]

```json
{ "_id" : 1, "address" : "Galway" }
```

```json
> db.mydoc.update({$or:[{"name":"Tom"},{"name":"Mary"}]},{"address":"Galway"});
WriteResult({ "nMatched" : 1, "nUpserted" : 0, "nModified" : 1 })
> db.mydoc.find();
{ "_id" : 1, "address" : "Galway" }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

```json
> db.mydoc.drop();
true
```

```json
> show collections;
user
```

 ```json
> db.mydoc.save([{"_id":1,"name":"Tom","age":37},
... {"_id":2,"name":"Bill","age":44},
... {"_id":3,"name":"Mary","age":29},
... {"_id":4,"name":"Susan","age":37},
... {"_id":5,"name":"Sean","age":54},
... {"_id":6,"name":"Luke"}]);
BulkWriteResult({
        "writeErrors" : [ ],
        "writeConcernErrors" : [ ],
        "nInserted" : 6,
        "nUpserted" : 0,
        "nMatched" : 0,
        "nModified" : 0,
        "nRemoved" : 0,
        "upserted" : [ ]
})
```

```json
> show collections;
mydoc
user
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37 }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29 }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

- second parameter - update - modification to be applied - using operator - set - replaces the value of a - relational_column-attribute-field - mongodb_attribute - with the specified value - if the - relational_column-attribute-field - mongodb_attribute - does not exist - operator - set - adds a new - relational_column-attribute-field - mongodb_attribute - with the specified value [7]

```json
{$set:{"address":"Galway"}}
```

- optional parameter - options - change default behaviour of - method - update - supply values for the - parameter - options - multi - set to true - method - update - modifies all - relational_rows-records-tuples - mongodb_documents - that satisfies criteria - query - by default - multi - is set to false [7]

```json
{multi:true}
```

- relational_rows-records-tuples - mongodb_documents - matching the - query - have a new - relational_column-attribute-field - mongodb_attribute - name - address - value - Galway [7]

```json
> db.mydoc.update({$or:[{"name":"Tom"},{"name":"Mary"}]},{$set:{"address":"Galway"}},{multi:true});
WriteResult({ "nMatched" : 2, "nUpserted" : 0, "nModified" : 2 })
```

```json
> db.mydoc.find();
{ "_id" : 1, "name" : "Tom", "age" : 37, "address" : "Galway" }
{ "_id" : 2, "name" : "Bill", "age" : 44 }
{ "_id" : 3, "name" : "Mary", "age" : 29, "address" : "Galway" }
{ "_id" : 4, "name" : "Susan", "age" : 37 }
{ "_id" : 5, "name" : "Sean", "age" : 54 }
{ "_id" : 6, "name" : "Luke" }
```

```json
> db.emp.save([{"_id":1,"name":"Tom","experience":17},
... {"_id":2,"name":"Bill","experience":3},
... {"_id":3,"name":"Mary","experience":5},
... {"_id":4,"name":"Susan","experience":13}]);
BulkWriteResult({
        "writeErrors" : [ ],
        "writeConcernErrors" : [ ],
        "nInserted" : 4,
        "nUpserted" : 0,
        "nMatched" : 0,
        "nModified" : 0,
        "nRemoved" : 0,
        "upserted" : [ ]
})
```

```json
> show collections;
emp
mydoc
user
```

```json
> db.emp.find();
{ "_id" : 1, "name" : "Tom", "experience" : 17 }
{ "_id" : 2, "name" : "Bill", "experience" : 3 }
{ "_id" : 3, "name" : "Mary", "experience" : 5 }
{ "_id" : 4, "name" : "Susan", "experience" : 13 }
```

- add - relational-column-attribute-field - mongodb_attribute - name - title - value - Manager - to all - relational_rows-records-tuples - mongodb_documents - where - name - experience - value - greater than twenty - if none exist - create a new - relational_row-record-tuple - mongodb_document - with - relational_column-attribute-field - mongodb_attribute - name - title - value - Manager - parameter - query [7]

```json
{"experience":{$gt:20}}
```

- parameter - update - contains the updated - relational_row-record-tuple - mongodb_document - operator - set - add a new - relational-column-attribute-field - mongodb_attribute - if one does not already exist [7]

```json
{$set:{"title":"Manager"}}
```

- parameter - options - multi - true - update all - relational_rows-records-tuples - mongodb_documents - that match the - query - upsert - true - if no - relational_rows-records-tuples - mongodb_documents - match - query - then create a new - relational_row-record-tuple - mongodb_document - based on the - parameter - update [7]

```json
> db.emp.update({"experience":{$gt:20}},{$set:{"title":"Manager"}},{multi:true,upsert:true});
WriteResult({
        "nMatched" : 0,
        "nUpserted" : 1,
        "nModified" : 0,
        "_id" : ObjectId("5f0dbefac74695a1897a0f37")
})
```

- no - relational_rows-records-tuples - mongodb_documents - match - parameter - query - options - upsert - true - new - relational_row-record-tuple - mongodb_document - created with - name - title - value - Manager [7]

```json
{ "_id" : ObjectId("5f0dbefac74695a1897a0f37"), "title" : "Manager" }
```

```json
> db.emp.find();
{ "_id" : 1, "name" : "Tom", "experience" : 17 }
{ "_id" : 2, "name" : "Bill", "experience" : 3 }
{ "_id" : 3, "name" : "Mary", "experience" : 5 }
{ "_id" : 4, "name" : "Susan", "experience" : 13 }
{ "_id" : ObjectId("5f0dbefac74695a1897a0f37"), "title" : "Manager" }
```

***
# END