# data-database-types-relational-language-SQL-MySQL-_C_RUD-create-command-INSERT-INTO
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- INSERT - command - mysql - add information to databases [7]

```sql
INSERT INTO <table> VALUES (value1, value2, valueN);
```

```sql
INSERT INTO <table> (column1, column2, columnN)
            VALUES (value1, value2, valueN);
```

```sql
mysql> use lab5;
Database changed
```

```sql
mysql> show tables;
+----------------+
| Tables_in_lab5 |
+----------------+
| car            |
| person         |
+----------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM person;
Empty set (0.00 sec)
```

- table - entity - relation - person - schema - five columns - attributes - fields - personID - name - age - sex - dob - isStudent - plus associated column - attribute - field - data type [7]

```
mysql> DESCRIBE person;
+-----------+---------------+------+-----+---------+----------------+
| Field     | Type          | Null | Key | Default | Extra          |
+-----------+---------------+------+-----+---------+----------------+
| personID  | int           | NO   | PRI | NULL    | auto_increment |
| name      | varchar(20)   | NO   |     | NULL    |                |
| age       | int           | YES  |     | NULL    |                |
| sex       | enum('M','F') | YES  |     | M       |                |
| isStudent | tinyint(1)    | YES  |     | 0       |                |
+-----------+---------------+------+-----+---------+----------------+
5 rows in set (0.00 sec)
```

- keywords - INSERT INTO - table - entity - relation - person - keyword - VALUES - followed by a list of the values to be inserted - the order of the values are the same as the order of the columns - attributes - fields - returned by - command - DESCRIBE [7]

```sql
mysql> INSERT INTO person
    -> VALUES (1,"John",23,"M",1);
Query OK, 1 row affected (0.01 sec)
```

```sql
mysql> SELECT *
    -> FROM person;
+----------+------+------+------+-----------+
| personID | name | age  | sex  | isStudent |
+----------+------+------+------+-----------+
|        1 | John |   23 | M    |         1 |
+----------+------+------+------+-----------+
1 row in set (0.00 sec)
```

***
# END