# data-database-types-relational-language-SQL-MySQL-command-CREATE-TABLE
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- knowing the characteristics - columns - attributes - fields - and what a table - entity - relation - has and the type of data each column - attribute - field - should store - now issue - sql - command to create it - command [7]

```
CREATE TABLE <___> (
<column1> <datatype>,
<column2> <datatype>,
<column3> <datatype>
);
```

```sql
mysq> -- db - car
mysql> CREATE TABLE car (
    -> make VARCHAR(20),
    -> model VARCHAR(20),
    -> registration VARCHAR(15),
    -> colour VARCHAR(10),
    -> mileage INTEGER,
    -> engineSize FLOAT(2,1)
    -> );
Query OK, 0 rows affected, 1 warning (0.02 sec)
```

- store data about a person - people have a lot of characteristics - person column - attribute - field - name - define as a string - 20 characters - cannot be NULL or blank [7]

```sql
VARCHAR(20) NOT NULL
```

- age column - attribute - field - define as an integer [7]

```sql
age INTEGER
```

- sex column - attribute - field - define as enumerate - either male or female - no sex entered then default to male [7]

```sql
sex ENUM("M","F") default "M"
```

- date of birth column - attribute - field - define as date [7]

```sql
dob DATE
```

- if student column - attribute - field - defined as a boolean - True - False - TINYINT(1) - can be used to represent boolean - zero is assumed - False - any other number is assumed - True [7]

```sql
isStudent TINYINT(1)
```

```sql
mysql> -- db - person
mysql> CREATE TABLE person (
    -> name VARCHAR(20) NOT NULL,
    -> age INTEGER,
    -> sex ENUM("M","F") DEFAULT "M",
    -> dob DATE,
    -> isStudent TINYINT(1)
    -> );
Query OK, 0 rows affected, 1 warning (0.03 sec)
```

***
# END