# python-database-function-built-in-input
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- generate email addresses of the format - @somecompany.ie [7]

- function - input - print to the screen the string - enter name - reads the value entered by the user into name - nName [7]

In [1]:
nName=input("enter name ")

enter name tom

- add - @somecompany.ie - to the name just entered - use the addition operator - addition used with two strings - concatenate [7]

In [2]:
nEmail=nName+"@somecompany.ie"

In [3]:
nEmail

'tom@somecompany.ie'

- enter a salary - everyone gets an increase of 100 - ask user for salary [7]

In [4]:
nSalary=input("enter salary ")

enter salary 30000

- salary entered - add - 100 - to it - print out name - nSalary - should be 30100 [7]

- error - even though 30000 entered - function - input - always returns a string [7]

In [5]:
nSalary+=100

TypeError: can only concatenate str (not "int") to str

- before adding a number to salary - must first be converted from string to integer using - function - int - converts a string to an integer [7]

In [6]:
nSalary=int(input("enter salary "))

enter salary 30000

In [7]:
nSalary+=100

In [8]:
nSalary

30100

***
# END