# python-database-CR_U_D-read-command-process
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- add new data - INSERT [7]

- database connection [7]

```python
conn=pymysql.connect(user="root",
					cursorclass=pymysql.cursors.DictCursor,
					password="******",
					host="localhost",
					db="school",
					port=3306)
```

```sql
mysql> use school
Database changed
```

```sql
mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| subject          |
| teacher          |
+------------------+
2 rows in set (0.01 sec)
```

```sql
mysql> DESCRIBE subject;
+---------------+-------------+------+-----+---------+-------+
| Field         | Type        | Null | Key | Default | Extra |
+---------------+-------------+------+-----+---------+-------+
| Name          | varchar(15) | NO   | PRI | NULL    |       |
| Teacher       | varchar(20) | YES  |     | NULL    |       |
| OnLeavingCert | tinyint(1)  | YES  |     | NULL    |       |
+---------------+-------------+------+-----+---------+-------+
3 rows in set (0.00 sec)
```

- insert command - instead of hard coding the values - insert later [7]

```python
nInsert="INSERT INTO subject
		(Name,Teacher,OnLeavingCert)
		VALUES (%s,%s,%s)"
```

- create a cursor on connection [7]

```python
with conn:
	cursor=conn.cursor()
```

- name - cursor - method - execute - parameters - i) sql code - nInsert - ii) value or values of any parameters defined in the query - pass three parameters - Maths -  Ms. Jones - 1 - into the three placeholders in the query represented by - %s [7]


- method - commit - need to commit this change to the database - when called the actual database is physically updated - method - rollback - undo - INSERT [7]


- name - nInsert - does not return rows - nothing to fetch from the cursor [7]


- program run - cause an error - trying to insert a subject called Maths albeit already a row - record - tuple - Maths - in the table - entity - relation - primary key - mysql - disallow - return error - printed to the console - error message might not make much sense to the user - better - if print out a more user friendly message - try except block [7]

```python
with conn:
	cursor=conn.cursor()
	cursor.execute(nInsert,("Maths","Ms. Jones",1))
	conn.commit()
```

- try - attempt - indented - after the try statement [7] 


- conn.cursor - execute [7]


- cursor.execute - result - error - exception given the column - attribute - field - Name - Maths - already exists in the database [7]


- execution jumps to the except block - remaining code in the try block not executed [7]


- conn.commit - print - Insert Successful - not executed - print - Maths already exists - executed [7]


- rather than showing a hard to read automatically generated error message if an error does exist - printing something much easier to read - accept block - rather than just print an error message could retry execute - asked the user for a different subject name [7]


- except is a generic catch all - different types of exception [7]


- if had specified a different subject name - one that does not exist in the database - between the time connected to the database - the time before running method - execute - database gone offline - get an exception back - printing the wrong error message


- different types of exception - exception that would occur would be integrity error - Maths - already exists [7]

```python
nName="Maths"
nTeacher="Ms.Jones"
nOLC=1
with conn:
	try:
		cursor=conn.cursor()
		cursor.execute(query,(nName,nTeacher,nOLC))
		conn.commit()
		print("Insert Successful")
	except pymysql.err.InternalError as nE:
		print("Internal Error,nE")
	except pymysql.err.IntegrityError:
		print("Error",nName,"already exists")
	except Exception as nE:
		print("error",nE)
```

- subject - Spanish - does not exist in the database - defined nOLC - equal - string - yes [7]


- table - entity - relation - school - column - attribute - field - OnLeavingCert - data type - TINYINT(1) -  not accept - value - yes - get an error - try to do it via python - exception - InternalError - defined - name - nE - will be used to print out more information [7]

```python
nName="Spanish"
nTeacher="Ms.Jones"
nOLC="yes"
with conn:
	try:
		cursor=conn.cursor()
		cursor.execute(query,(nName,nTeacher,nOLC))
		conn.commit()
		print("Insert Successful")
	except pymysql.err.InternalError as nE:
		print("Internal Error,nE")
	except pymysql.err.IntegrityError:
		print("Error",nName,"already exists")
	except Exception as nE:
		print("error",nE)
```

- name - nRowsAffected - checking the number of rows - records - tuples - affected by the query - zero - nothing has been updated - otherwise - print the number of rows - records - tuples - updated [7]


- catch any errors - print the error message - name - nE [7]

```python
nQUpdate="UPDATE subject SET Teacher=%s  WHERE Name=%s"
nSubject="Maths"
nNewTeacher="Mr. Murphy"

with conn:
	try:
		cursor=conn.cursor()
		nRowsAffected=cursor.execute(nQUpdate,nSubject)
		conn.commit()
		if (nRowsAffected==0):
			print("Nothing updated -",nSubject,"- not updated")
		else:
			print(nSubject, "now taught by", nNewTeacher)
	except Exception as nE:
		print("error",nE)
```

***
# END