# python-database-C_R_UD-read-command-process-walk-through-python-mysql-0
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

```sql
mysql> use school;
Database changed
```

```sql
mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| subject          |
| teacher          |
+------------------+
2 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM teacher;
+-----+--------------+-------+------------+------------+
| tid | Name         | level | experience | dob        |
+-----+--------------+-------+------------+------------+
|   1 | Mr. Pasteur  | L     |         15 | 1960-02-02 |
|   2 | Ms. Dubois   | L     |         22 | 1967-09-02 |
|   3 | Ms. Smith    | J     |          4 | 1980-03-23 |
|   4 | Mr. Hawking  | L     |         40 | 1951-02-19 |
|   5 | Mr. Kavanagh | J     |         50 | 1949-11-01 |
|   6 | Mr. Picasso  | J     |         42 | 1939-03-30 |
|   7 | Fr. Lynch    | L     |         55 | 1939-03-31 |
+-----+--------------+-------+------------+------------+
7 rows in set (0.00 sec)
```

- take a number in from the console representing experience and return all details of all teachers whose experience is less than that number [7]

```sql
mysql> SELECT *
    -> FROM teacher
    -> WHERE experience<20;
+-----+-------------+-------+------------+------------+
| tid | Name        | level | experience | dob        |
+-----+-------------+-------+------------+------------+
|   1 | Mr. Pasteur | L     |         15 | 1960-02-02 |
|   3 | Ms. Smith   | J     |          4 | 1980-03-23 |
+-----+-------------+-------+------------+------------+
2 rows in set (0.00 sec)
```

```
$ vi py/schoolDB.py
```

```python
import pymysql

conn=None

# define function - fConnectDB
def fConnectDB():
    # accessible any function
    global conn
    conn=pymysql.connect(
    	host="localhost",
    	user="root",
    	password="******",
    	db="school",
    	cursorclass=pymysql.cursors.DictCursor)

# define function - fGetExperience
def fGetExperience(nParN):
    # check database connection
    if (not conn):
        # function fConnectDB - call
        fConnectDB() # connect database - school
	
    # parameter - nParN - %s
    nQuery="SELECT * FROM teacher WHERE experience<%s"

    with conn:
        # create object - cursor
        cursor=conn.cursor()
        # execute sql - nQuery - pass parameter - nParN
        cursor.execute(nQuery,(nParN))
        # return - cursor - all rows 
        nResult=cursor.fetchall()
        # return - caller function  
        return nResult
```

```
$ vi py/python-mysql-0.py
```

```python
import schoolDB

# define function - main
def main():
	# function fGetNumber - call
    nNumber=fGetNumber()
	# function schoolDB.fGetExperience - call
    nTeachers=schoolDB.fGetExperience(nNumber)
    # db - rows - columns
    print(nTeachers)
    
# define function - fGetNumber
def fGetNumber():
    return input("Enter Number: ")

# keyword - __name__ - evaluate current module [1]
if __name__=="__main__":
    # function main - call
    main()
```

```
$ python py/python-mysql-0.py
```

```python
Enter Number: 20
[{'tid': 1, 'Name': 'Mr. Pasteur', 'level': 'L', 'experience': 15, 'dob': datetime.date(1960, 2, 2)}, {'tid': 3, 'Name': 'Ms. Smith', 'level': 'J', 'experience': 4, 'dob': datetime.date(1980, 3, 23)}]
```

```mysql
mysql> SELECT tid
    -> FROM teacher
    -> WHERE experience<20;
+-----+
| tid |
+-----+
|   1 |
|   3 |
+-----+
2 rows in set (0.00 sec)
```

```
$ vi py/python-mysql-0.py
```

```python
import schoolDB

# define function - main
def main():
	# function fGetNumber - call
    nNumber=fGetNumber()
	# function schoolDB.fGetExperience - call
    nTeachers=schoolDB.fGetExperience(nNumber)
    for nEachRow in nTeachers:
    	# db - rows - column - tid
    	print(nEachRow["tid"])

# define function - fGetNumber
def fGetNumber():
    return input("Enter Number: ")

# keyword - __name__ - evaluate current module [1]
if __name__=="__main__":
    # function main - call
    main()
```

```
$ python py/python-mysql-0.py
```

```python
Enter Number: 20
1
3
```

```mysql
mysql> SELECT *
    -> FROM teacher
    -> WHERE experience<30;
+-----+-------------+-------+------------+------------+
| tid | Name        | level | experience | dob        |
+-----+-------------+-------+------------+------------+
|   1 | Mr. Pasteur | L     |         15 | 1960-02-02 |
|   2 | Ms. Dubois  | L     |         22 | 1967-09-02 |
|   3 | Ms. Smith   | J     |          4 | 1980-03-23 |
+-----+-------------+-------+------------+------------+
3 rows in set (0.00 sec)
```

```
$ vi py/python-mysql-0.py
```

```python
import schoolDB

# define function - main
def main():
	# function fGetNumber - call
    nNumber=fGetNumber()
	# function schoolDB.fGetExperience - call
    nTeachers=schoolDB.fGetExperience(nNumber)
    for nEachRow in nTeachers:
    	# db - rows - columns - tid - Name - level - experience - dob
    	print(nEachRow["tid"],"|",
    		nEachRow["Name"],"|",
    		nEachRow["level"],"|",
    		nEachRow["experience"],"|",
    		nEachRow["dob"] )

# define function - fGetNumber
def fGetNumber():
    return input("Enter Number: ")

# keyword - __name__ - evaluate current module [1]
if __name__=="__main__":
    # function main - call
    main()
```

```
$ python py/python-mysql-0.py
```

```python
Enter Number: 30
1 | Mr. Pasteur | L | 15 | 1960-02-02
2 | Ms. Dubois | L | 22 | 1967-09-02
3 | Ms. Smith | J | 4 | 1980-03-23
```

```
$ python py/python-mysql-0.py
```

```python
Enter Number: thirty
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1292, "Truncated incorrect DOUBLE value: 'a'")
  self._do_get_result()
```

```
$ vi py/python-mysql-0.py
```

```python
import schoolDB

# define function - main
def main():
	while True: # infinite
		# db - send actual number
		try:
			# function fGetNumber - call
		    nNumber=int(fGetNumber())
			# function schoolDB.fGetExperience - call
		    nTeachers=schoolDB.fGetExperience(nNumber)
		    for nEachRow in nTeachers:
		    	# db - rows - columns - tid - Name - level - experience - dob
		    	print(nEachRow["tid"],"|",
		    		nEachRow["Name"],"|",
		    		nEachRow["level"],"|",
		    		nEachRow["experience"],"|",
		    		nEachRow["dob"] )
		    break # - valid nNumber - exit
		# not actual number - iterate
		except Exception as nE:
			print("Invalid Number - Try Again")

# define function - fGetNumber
def fGetNumber():
    return input("Enter Number: ")

# keyword - __name__ - evaluate current module [1]
if __name__=="__main__":
    # function main - call
    main()
```

```
$ python py/python-mysql-0.py
```

```python
Enter Number: thirty
Invalid Number - Try Again
Enter Number: 30
1 | Mr. Pasteur | L | 15 | 1960-02-02
2 | Ms. Dubois | L | 22 | 1967-09-02
3 | Ms. Smith | J | 4 | 1980-03-23
```

***
# END