# python-database-CRU_D_-read-command-process
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- delete from table - entity - relation - subject - the column - attribute - field - Name - rows - records - tuples - value - Maths - from the database - school [7]

```sql
mysql> use school;
Database changed
```

```sql
mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| subject          |
| teacher          |
+------------------+
2 rows in set (0.00 sec)
```

```sql
mysql> DESCRIBE subject;
+---------------+-------------+------+-----+---------+-------+
| Field         | Type        | Null | Key | Default | Extra |
+---------------+-------------+------+-----+---------+-------+
| Name          | varchar(15) | NO   | PRI | NULL    |       |
| Teacher       | varchar(20) | YES  |     | NULL    |       |
| OnLeavingCert | tinyint(1)  | YES  |     | NULL    |       |
+---------------+-------------+------+-----+---------+-------+
3 rows in set (0.00 sec)
```

```sql
mysql> SELECT *
    -> FROM subject;
+-----------+--------------+---------------+
| Name      | Teacher      | OnLeavingCert |
+-----------+--------------+---------------+
| Biology   | Mr. Pasteur  |             1 |
| Colouring | Mr. Picasso  |             0 |
| English   | Mr. Kavanagh |             1 |
| French    | Ms. Dubois   |             1 |
| Maths     | Mr. Hawking  |             1 |
| Religion  | Fr. Lynch    |             1 |
| Spelling  | Ms. Smith    |             0 |
+-----------+--------------+---------------+
7 rows in set (0.00 sec)
```

- given the column - attribute - field - Name - primary key - can only be one subject called Maths - do not have to worry about deleting something that does not exist [7]

- mysql - delete rows - records - tuples - from a table - entity - relation - none match value - no error - nothing happens - using python to interact with mysql is the same - python does not decide what should get deleted or inserted or if the data types for each column are correct - mysql - decides this - passes the information back to python - just as it would inform if using - mysql - console - error messages - mysql - workbench - error messages [7]

- function - execute - returns - number of rows - records - tuples - affected by the query - if number of rows - records - tuples - deleted - zero - no rows - records - tuples - deleted - otherwise - number of rows - records - tuples - deleted are returned - use - except - catch any exceptions or errors returned from - mysql [7]

```python
nQDelete="DELETE FROM subject WHERE Name=%s"
nName="Maths"
with conn:
	try:
		cursor=conn.cursor()
		nRowsAffected=cursor.execute(nQDelete,(nName))
		conn.commit()
		if (nRowsAffected==0):
			print("Nothing deleted -",nName,"- never existed")
		else:
			print(nRowsAffected,"row(s) deleted")
	except Exception as nE:
		print("error",nE)
```

***
# END