# python-database-C_R_UD-read-command-process
> [TABLE OF CONTENTS](https://github.com/E6985/E2746/blob/master/README.md)
***

- executing - query - run the same query with different values - finding all employees on a salary greater than 42000 [7]

```sql
SELECT *
FROM employees
WHERE salary>42000;
```

- finding all employees on a salary less than 30000 [7]

```sql
SELECT *
FROM employees
WHERE salary<30000;
```

- automate the task - show the subjects taught by female teachers - Ms. [7]

<img src="img/0-2-1.png" />

- database connection [7]

```python
conn=pymysql.connect(user="root",
					cursorclass=pymysql.cursors.DictCursor,
					password="******",
					host="localhost",
					db="school",
					port=3306)
```

```sql
mysql> use school
Database changed
```

```sql
mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| subject          |
| teacher          |
+------------------+
2 rows in set (0.01 sec)
```

```mysql
mysql> DESCRIBE teacher;
+------------+---------------+------+-----+---------+----------------+
| Field      | Type          | Null | Key | Default | Extra          |
+------------+---------------+------+-----+---------+----------------+
| tid        | int           | NO   | PRI | NULL    | auto_increment |
| Name       | varchar(20)   | YES  |     | NULL    |                |
| level      | enum('J','L') | YES  |     | NULL    |                |
| experience | int           | YES  |     | NULL    |                |
| dob        | date          | YES  |     | NULL    |                |
+------------+---------------+------+-----+---------+----------------+
5 rows in set (0.00 sec)
```

- query - column - attribute - field - teacher - operator - LIKE - %s - represents a parameter passed to the query later [7]

```python
nQuery= "SELECT * FROM subject
		WHERE teacher LIKE %s"
```

- create a cursor on connection [7]

```python
with conn:
	cursor=conn.cursor()
```

- name - cursor - method - execute - parameters - i) sql code - nQuery - ii) value or values of any parameters defined in the query - one parameter - %s [7]


- method - execute - second parameter - Ms% - results of the query are not returned - method - execute - stored in the - name - cursor [7]


- method - fetchall - all from - name - cursor - results - name - subjects - array of objects [7]


- for loop - iterates over the array [7]


- name - nEachRow - equal to each item - element - of the array [7]


- access column - attribute - field - Name - print out the name of each subject in the - array - subjects [7]

```python
with conn:
	cursor=conn.cursor()
	cursor.execute(query,("Ms.%"))
    subjects=cursor.fetchall()
    for nEachRow in subjects:
        print(nEachRow["Name"])
```

<img src="img/0-2-2.png" />

***
# END